@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ginka';
  src: url('/fonts/Ginka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #7B8B8F;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #7CDDAE;
  border-radius: 10px;
}

::selection {
  background-color: #7CDDAE !important;
  color: #022128 !important;
}

::-moz-selection {
  background-color: #7CDDAE !important;
  color: #022128 !important;
}
